*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root{
    --primary-color:#4E47FF;
}

body{
    font-family: "Raleway", sans-serif;
}
/* common style  -->*/

/* common btn */
.cmn-btn{
    background-color: var(--primary-color);
    color: white;
    padding: 10px 25px;border: none;
    border-radius: 10px;
}

/* header section */
header{
    background-image: url(./Assets/Hero-bg.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;  
}

.nav-links{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    max-width: 90%;
    margin: 0 auto;
}

.nav-links>h1{
    color: var(--primary-color);
}

header>div{
    text-align: center;
    padding: 160px 0 200px 0;
}
header>div>h1{
    font-size: 65px;
    font-weight: bold;
}